<% provide(:title, "About") %>


	<div class="coaching_section">
		<div class="container"> 
			<div class="w3_agile_team_grid">
				<div class="w3_agile_team_grid_left">
					<h3 class="w3l_header w3_agileits_header"><span style="color:#0ac455">A</span>bout <span>Us</span></h3>
		            <p class="sub_para_agile">Ipsum dolor sit amet consectetur adipisicing elit</p>
				</div>
			</div>
			<div class="agile_team_grids_top">
				<div class="col-md-6 w3ls_banner_bottom_left w3ls_courses_left">
					<div class="w3ls_courses_left_grids">
						<div class="w3ls_courses_left_grid">
							<h3><i class="fa fa-pencil-square-o" aria-hidden="true"></i>pulvinar neque pharetra eget</h3>
							<p>Pellentesque convallis diam consequat magna vulputate malesuada. 
								Cras a ornare elit. Nulla viverra pharetra sem, eget pulvinar neque pharetra ac.</p>
						</div>
						<div class="w3ls_courses_left_grid">
							<h3><i class="fa fa-pencil-square-o" aria-hidden="true"></i>consequat magna vulputate</h3>
							<p>Pellentesque convallis diam consequat magna vulputate malesuada. 
								Cras a ornare elit. Nulla viverra pharetra sem, eget pulvinar neque pharetra ac.</p>
						</div>
						<div class="w3ls_courses_left_grid">
							<h3><i class="fa fa-pencil-square-o" aria-hidden="true"></i>convallis diam consequat magna</h3>
							<p>Pellentesque convallis diam consequat magna vulputate malesuada. 
								Cras a ornare elit. Nulla viverra pharetra sem, eget pulvinar neque pharetra ac.</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 agileits_courses_right">
					<img src="assets/2.jpg" alt=" " class="img-responsive" />
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
