<% provide(:title, "Home") %>

<p>Find me in app/views/static_pages/home.html.erb</p>


<div id="exampleSlider">
    <div><h3>Sports for Healthy Life Time <span>Play like a Champion</span></h3></div>
    <div><h3>Play With Your Instructors <span>Reach Your Goal</span></h3></div>
    <div><h3>Sports for healthy Life Time <span>Play like a Champion</span></h3></div>
</div>