/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 @import "bootstrap";
 
  .bookingcontainer {
  width: 600px;
  border: 5px solid rgb(6,63,102);
  border-radius: .5em;
  padding: 10px;
}

.datelink {
  width: 100px;
  padding: 10px;
  background-color: rgba(6,63,102,.3);
  border: 2px solid rgba(6,63,102,.5);
  display: inline-block;
  vertical-align: middle
}
 .headSec {
    background: url("/assets/banner2.jpg");
     background-repeat: no-repeat;
     background-size:100% ;
    min-height:10px;
    background-color: #b3e0ff;
    width: 100%;
    margin-bottom:10px;
    overflow: auto;
    
}

.headSec h1 {
    color: #ffffff;
    font-size: 80px;
    padding: 15px;
    
}

ul { 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #063f66;    
    
}

li {float:left;}

li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}


.mainCont { 
    
    margin: auto;
    width:80%;
    border: 3px solid #b3e0ff;
    padding: 10px;
    text-align: center;
}

.welcomeIm {width: 30%;}


.foot {
    min-height: 80px;
    background-color: #0b202e;
    width: 100%;
    margin-top: 10px;
    overflow: auto;
    
    
}

.container {
 background: url("/assets/Site/clubhead.png");
      background-repeat:no-repeat;
    background-position:right bottom;
   width: 100%;
    min-height: 700px;
}

#itemsContainer {
    width: 100%;
    text-align: center;
    
    
}


#itemsContainer h1 {
   display: block;
    color: #4CAF50;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
    
}


.itemhols {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: inline-block;
    width: 22%;
    padding:10px;
    min-height: 300px;
   
}


.itemhols h1 {
   display: block;
    color: #4CAF50;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px
    
}


.itemhols p {
   display: block;
    color: #4CAF50;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px
    
}



.itemholsIm {
    width: 30%; 
    margin-left: auto; 
    margin-right: auto; 
    display: block;
    
}


.button {
    background-color: #063f66;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #063f66;
    color: white;
}

/*-- //gallery about page--*/
.testimonials,.team,.coaching_section {
    padding: 5em 0;
}
.w3l_header {
    font-size: 2.5em;
    color: #262c38;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    font-weight:700;
    text-align: center;
}
h3.w3l_header.w3_agileits_header.two {
    color: #fff;
}
.w3l_header:after {
    border-top: 2px solid #47cf73;
    display: block;
    width: 81px;
    content: "";
    margin: 8px auto 0;
}
.sub_para_agile {
    text-align: center;
    font-style: italic;
    font-size: 1em;
    font-weight: 600;
    color: #48506b;
    letter-spacing: 2px;
    margin-top: 1em;
}
.agile_team_grids_top {
    margin-top: 3em;
}
.agileits_w3layouts_banner_bottom_grid img {
    width: 100%;

}
.agileits_w3layouts_banner_bottom_grid {
background: #ececec;
    padding: 0.5em 0.5em 0.5em 0;
		    box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
    -webkit-box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
    -moz-box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
    -o-box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
	    margin-bottom: 5px;
}
.banner-bottom,.gallery{
    padding: 5em 0 0 0;
}
/*-- //gallery about page--*/

/*-- courses --*/
.wthree_banner1_info {
    padding: 8em 0 0;
    text-align: center;
}
.wthree_banner1_info h3{
font-size: 2.5em;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 5px;
}
.wthree_banner1_info h3 span{
	color:#47cf73;
}
.agileinfo_courses_flipster{
	width:70%;
	margin:0 auto;
}
.w3ls_courses_left{
	padding:0 !important;
}
.w3ls_courses_left_grid h3{
    font-size: 1.2em;
    color: #47cf73;
    text-transform: capitalize;
    font-weight: 600
}
.w3ls_courses_left_grid h3 i{
	color:#212121;
	padding-right:1em;
}
.w3ls_courses_left_grid p{
	margin:2em 0 0;
	color:#999;
	line-height:2em;
}
.w3ls_courses_left_grid{
	padding-top:2em;
}
.w3ls_courses_right p{
	margin-bottom:2em !important;
}
.agileits_courses_right img{
	margin:0 auto;
}
/*-- //courses --*/

